@tailwind base;
@tailwind components;
@tailwind utilities;




.navbar-container {
  @apply fixed w-full top-0 z-50 bg-black/50 backdrop-blur-sm px-4 md:px-10 lg:px-20 py-2
}

.container {
  @apply max-w-12xl mx-auto px-4 md:px-10 lg:px-20
}

body {
  color: #ffffff;
  background: #010101;
  font-family: Montserrat, sans-serif;
}

@keyframes slide-infinite {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.infinite-slide {
  animation: slide-infinite 20s linear infinite;
}