@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #010101;

}



.navbar-container {
  @apply fixed w-full top-0 z-50 dark:bg-black/50 bg-primary/30 backdrop-blur-sm px-4 md:px-10 lg:px-20 py-4
}

.container {
  @apply max-w-12xl mx-auto px-4 md:px-10 lg:px-20
}

body {
  font-family: Montserrat, sans-serif;
}